.navbar {
  background-color: rgb(34, 118, 227);
  width: 25px;
  height: 25px;
  border-radius: 50%;
  color: white;
  float: left;
  text-align: center;
  margin-left: 40px;
}
.navbar_options {
  float: left;
  margin-left: 10px;
  font-weight: 600;
}
.boarding_point {
  width: 200px;
  height: 270px;
  border: 1px solid rgb(225, 225, 225);
  overflow-y: scroll;
}
.input {
  margin-left: 10px;
}
.point {
  margin-left: 35px;
  font-family: Quicksand;
  font-size: 0.9rem;
  color: rgb(28, 28, 28);
  font-weight: bold;
  padding: 0.2rem 0px;
}
.time {
  margin-left: 13px;
  font-family: Quicksand;
  font-size: 1.2rem;
  color: rgb(28, 28, 28);
}
.info {
  margin-left: 35px;
  color: rgb(119, 119, 119);
  font-size: 0.8rem;
}
label {
  display: inline-flex;
}
::-webkit-scrollbar {
  overflow-y: scroll;
}
.boarding {
  float: left;
  margin-left: 45px;
}
.dropping {
  margin-left: 30px;
  float: left;
  padding-bottom: 35px;
}
.box {
  width: 0.8rem;
  height: 0.8rem;
  border-radius: 0.2rem;
  border: 1px solid rgb(151, 151, 151);

  margin-left: 40px;
  float: left;
  margin-top: 5px;
}
.box1 {
  background: rgb(216, 216, 216);
}

.box3 {
  background: rgb(250, 57, 136);
}
.box4 {
  background: rgb(34, 118, 227);
}
.box5 {
  margin-left: 40px;
  float: left;
}
.seat_selection {
  width: 385px;
  height: 160px;
  border: 1px solid rgb(225, 225, 225);
  border-radius: 0.6rem;
  display: flex;
  flex-direction: row;
  margin: 1rem 0px;
}
.header {
  display: flex;
  flex-flow: column wrap;
  width: 30px;
  background: rgb(239, 243, 248);
  position: relative;
}
.seats {
  padding-top: 10px;
  padding-left: 35px;
}
.upper {
  transform: rotate(-90deg);
  font-size: 13px;
  color: rgb(100, 122, 151);
  position: relative;
  top: 45%;
  right: 4px;
}

.proceed_button {
  width: 400px;
  color: white;
  text-align: center;
  font-size: 1.2rem;
  font-weight: 600;
  border-radius: 0.5rem;
  padding: 0.6rem 1rem;
  border: 0px;
  outline: 0px;
  cursor: pointer;
  font-family: Quicksand;
  margin-left: 35px;
}
.selT {
  color: rgb(119, 119, 119);
  font-size: 1rem;
  padding-left: 40px;
}
.selT1 {
  font-family: Quicksand;
  font-size: 1.2rem;
  font-weight: bold;
  padding-left: 40px;
}
.cost {
  font-family: Quicksand;
  font-size: 1.7rem;
  font-weight: bold;
  padding-left: 240px;
}
.floating {
  margin-top: 5px;
  float: left;
}
.floating1 {
  margin-top: 5px;

  float: left;
}
.bus_icon {
  margin-top: 20px;
  margin-left: 15px;
  margin-right: 15px;
}
.bus_icon1 {
  padding-left: 15px;
}
label:checked {
  background-color: rgb(154, 172, 196);
  width: 16px;
  height: 16px;
}
.seat_div {
  float: left;
}
.margin {
  margin-left: 5px;
  float: left;
}
.clear {
  clear: both;
}
.margin-bottom {
  margin-bottom: 10px;
}
.floatClear {
  float: left;
  clear: right;
}
