.mainDiv {
  padding: 0;
  margin: 0;
}
.lowerPartDestinationChild {
  display: flex;
  height: 30px;
  background: #e8f7ea;
  padding-right: 5px;
}
.lowerPartDestinationChild > img {
  height: 20px;
  margin-top: 5px;
}

.lowerPartDestinationChild > span {
  font-size: 14px;
  margin-top: 5px;
  font-weight: 600;
}
.knowMore {
  width: 70%;
}
